<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-4level [%thread] %logger: %message%n</Pattern>
    </layout>
  </appender>

  <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/xiuxiu.%d{yyyy-MM-dd}.log
      </fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-4level [%thread] %logger: %message%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="debug" />
    <!-- <appender-ref ref="FILE" /> -->
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
